/* Stile per gli elementi li al passaggio del mouse */
/* Testo bianco al passaggio del mouse */
/* .navbar-nav li.nav-item:hover a.nav-link {
    color: white !important; 
} */

/* Stile per gli elementi ul al passaggio del mouse */
/* Testo bianco al passaggio del mouse */
/* .navbar-nav li.nav-item:hover ul.dropdown-menu a.dropdown-item {
    color: white !important; 
} */

/* Stile per gli elementi ul del menu utente al passaggio del mouse */
/* Testo nero al passaggio del mouse */
/* .navbar-nav li.nav-item.dropdown:hover ul.dropdown-menu a.dropdown-item {
    color: black !important; 
} */
